<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/logo.png">
    <title>Home Page</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <center>

            <form id="search-form">
                <div class="autocomplete">
                    <input type="text" placeholder="City" id="input" required>
                </div>
                <a id="submit-location"><img src="/img/search.png" width="24" height="24"></a>
            </form>

            <svg width="504" height="64" viewBox="0 0 504 148" fill="none" xmlns="http://www.w3.org/2000/svg"
                id="loading-svg">
                <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="0.882812" y="0" width="503" height="148"
                    fill="black">
                    <rect fill="white" x="0.882812" width="503" height="148" />
                    <path d="M19.4531 101.961H67.9688V113H5.88281V10.625H19.4531V101.961Z" />
                    <path
                        d="M77.8828 74.2578C77.8828 66.8047 79.3359 60.1016 82.2422 54.1484C85.1953 48.1953 89.2734 43.6016 94.4766 40.3672C99.7266 37.1328 105.703 35.5156 112.406 35.5156C122.766 35.5156 131.133 39.1016 137.508 46.2734C143.93 53.4453 147.141 62.9844 147.141 74.8906V75.8047C147.141 83.2109 145.711 89.8672 142.852 95.7734C140.039 101.633 135.984 106.203 130.688 109.484C125.438 112.766 119.391 114.406 112.547 114.406C102.234 114.406 93.8672 110.82 87.4453 103.648C81.0703 96.4766 77.8828 86.9844 77.8828 75.1719V74.2578ZM90.9609 75.8047C90.9609 84.2422 92.9062 91.0156 96.7969 96.125C100.734 101.234 105.984 103.789 112.547 103.789C119.156 103.789 124.406 101.211 128.297 96.0547C132.188 90.8516 134.133 83.5859 134.133 74.2578C134.133 65.9141 132.141 59.1641 128.156 54.0078C124.219 48.8047 118.969 46.2031 112.406 46.2031C105.984 46.2031 100.805 48.7578 96.8672 53.8672C92.9297 58.9766 90.9609 66.2891 90.9609 75.8047Z" />
                    <path
                        d="M210.422 113C209.672 111.5 209.062 108.828 208.594 104.984C202.547 111.266 195.328 114.406 186.938 114.406C179.438 114.406 173.273 112.297 168.445 108.078C163.664 103.812 161.273 98.4219 161.273 91.9062C161.273 83.9844 164.273 77.8438 170.273 73.4844C176.32 69.0781 184.805 66.875 195.727 66.875H208.383V60.8984C208.383 56.3516 207.023 52.7422 204.305 50.0703C201.586 47.3516 197.578 45.9922 192.281 45.9922C187.641 45.9922 183.75 47.1641 180.609 49.5078C177.469 51.8516 175.898 54.6875 175.898 58.0156H162.82C162.82 54.2188 164.156 50.5625 166.828 47.0469C169.547 43.4844 173.203 40.6719 177.797 38.6094C182.438 36.5469 187.523 35.5156 193.055 35.5156C201.82 35.5156 208.688 37.7188 213.656 42.125C218.625 46.4844 221.203 52.5078 221.391 60.1953V95.2109C221.391 102.195 222.281 107.75 224.062 111.875V113H210.422ZM188.836 103.086C192.914 103.086 196.781 102.031 200.438 99.9219C204.094 97.8125 206.742 95.0703 208.383 91.6953V76.0859H198.188C182.25 76.0859 174.281 80.75 174.281 90.0781C174.281 94.1562 175.641 97.3438 178.359 99.6406C181.078 101.938 184.57 103.086 188.836 103.086Z" />
                    <path
                        d="M238.617 74.3281C238.617 62.6562 241.383 53.2812 246.914 46.2031C252.445 39.0781 259.688 35.5156 268.641 35.5156C277.547 35.5156 284.602 38.5625 289.805 44.6562V5H302.812V113H290.859L290.227 104.844C285.023 111.219 277.781 114.406 268.5 114.406C259.688 114.406 252.492 110.797 246.914 103.578C241.383 96.3594 238.617 86.9375 238.617 75.3125V74.3281ZM251.625 75.8047C251.625 84.4297 253.406 91.1797 256.969 96.0547C260.531 100.93 265.453 103.367 271.734 103.367C279.984 103.367 286.008 99.6641 289.805 92.2578V57.3125C285.914 50.1406 279.938 46.5547 271.875 46.5547C265.5 46.5547 260.531 49.0156 256.969 53.9375C253.406 58.8594 251.625 66.1484 251.625 75.8047Z" />
                    <path
                        d="M337.195 113H324.188V36.9219H337.195V113ZM323.133 16.7422C323.133 14.6328 323.766 12.8516 325.031 11.3984C326.344 9.94531 328.266 9.21875 330.797 9.21875C333.328 9.21875 335.25 9.94531 336.562 11.3984C337.875 12.8516 338.531 14.6328 338.531 16.7422C338.531 18.8516 337.875 20.6094 336.562 22.0156C335.25 23.4219 333.328 24.125 330.797 24.125C328.266 24.125 326.344 23.4219 325.031 22.0156C323.766 20.6094 323.133 18.8516 323.133 16.7422Z" />
                    <path
                        d="M370.383 36.9219L370.805 46.4844C376.617 39.1719 384.211 35.5156 393.586 35.5156C409.664 35.5156 417.773 44.5859 417.914 62.7266V113H404.906V62.6562C404.859 57.1719 403.594 53.1172 401.109 50.4922C398.672 47.8672 394.852 46.5547 389.648 46.5547C385.43 46.5547 381.727 47.6797 378.539 49.9297C375.352 52.1797 372.867 55.1328 371.086 58.7891V113H358.078V36.9219H370.383Z" />
                    <path
                        d="M434.438 74.3281C434.438 62.4688 437.18 53.0469 442.664 46.0625C448.148 39.0312 455.414 35.5156 464.461 35.5156C473.742 35.5156 480.984 38.7969 486.188 45.3594L486.82 36.9219H498.703V111.172C498.703 121.016 495.773 128.773 489.914 134.445C484.102 140.117 476.273 142.953 466.43 142.953C460.945 142.953 455.578 141.781 450.328 139.438C445.078 137.094 441.07 133.883 438.305 129.805L445.055 122C450.633 128.891 457.453 132.336 465.516 132.336C471.844 132.336 476.766 130.555 480.281 126.992C483.844 123.43 485.625 118.414 485.625 111.945V105.406C480.422 111.406 473.32 114.406 464.32 114.406C455.414 114.406 448.195 110.82 442.664 103.648C437.18 96.4766 434.438 86.7031 434.438 74.3281ZM447.516 75.8047C447.516 84.3828 449.273 91.1328 452.789 96.0547C456.305 100.93 461.227 103.367 467.555 103.367C475.758 103.367 481.781 99.6406 485.625 92.1875V57.4531C481.641 50.1875 475.664 46.5547 467.695 46.5547C461.367 46.5547 456.422 49.0156 452.859 53.9375C449.297 58.8594 447.516 66.1484 447.516 75.8047Z" />
                </mask>
                <path d="M19.4531 101.961H67.9688V113H5.88281V10.625H19.4531V101.961Z" stroke="#0C858C"
                    stroke-width="10" mask="url(#path-1-outside-1)" />
                <path
                    d="M77.8828 74.2578C77.8828 66.8047 79.3359 60.1016 82.2422 54.1484C85.1953 48.1953 89.2734 43.6016 94.4766 40.3672C99.7266 37.1328 105.703 35.5156 112.406 35.5156C122.766 35.5156 131.133 39.1016 137.508 46.2734C143.93 53.4453 147.141 62.9844 147.141 74.8906V75.8047C147.141 83.2109 145.711 89.8672 142.852 95.7734C140.039 101.633 135.984 106.203 130.688 109.484C125.438 112.766 119.391 114.406 112.547 114.406C102.234 114.406 93.8672 110.82 87.4453 103.648C81.0703 96.4766 77.8828 86.9844 77.8828 75.1719V74.2578ZM90.9609 75.8047C90.9609 84.2422 92.9062 91.0156 96.7969 96.125C100.734 101.234 105.984 103.789 112.547 103.789C119.156 103.789 124.406 101.211 128.297 96.0547C132.188 90.8516 134.133 83.5859 134.133 74.2578C134.133 65.9141 132.141 59.1641 128.156 54.0078C124.219 48.8047 118.969 46.2031 112.406 46.2031C105.984 46.2031 100.805 48.7578 96.8672 53.8672C92.9297 58.9766 90.9609 66.2891 90.9609 75.8047Z"
                    stroke="#0C858C" stroke-width="10" mask="url(#path-1-outside-1)" />
                <path
                    d="M210.422 113C209.672 111.5 209.062 108.828 208.594 104.984C202.547 111.266 195.328 114.406 186.938 114.406C179.438 114.406 173.273 112.297 168.445 108.078C163.664 103.812 161.273 98.4219 161.273 91.9062C161.273 83.9844 164.273 77.8438 170.273 73.4844C176.32 69.0781 184.805 66.875 195.727 66.875H208.383V60.8984C208.383 56.3516 207.023 52.7422 204.305 50.0703C201.586 47.3516 197.578 45.9922 192.281 45.9922C187.641 45.9922 183.75 47.1641 180.609 49.5078C177.469 51.8516 175.898 54.6875 175.898 58.0156H162.82C162.82 54.2188 164.156 50.5625 166.828 47.0469C169.547 43.4844 173.203 40.6719 177.797 38.6094C182.438 36.5469 187.523 35.5156 193.055 35.5156C201.82 35.5156 208.688 37.7188 213.656 42.125C218.625 46.4844 221.203 52.5078 221.391 60.1953V95.2109C221.391 102.195 222.281 107.75 224.062 111.875V113H210.422ZM188.836 103.086C192.914 103.086 196.781 102.031 200.438 99.9219C204.094 97.8125 206.742 95.0703 208.383 91.6953V76.0859H198.188C182.25 76.0859 174.281 80.75 174.281 90.0781C174.281 94.1562 175.641 97.3438 178.359 99.6406C181.078 101.938 184.57 103.086 188.836 103.086Z"
                    stroke="#0C858C" stroke-width="10" mask="url(#path-1-outside-1)" />
                <path
                    d="M238.617 74.3281C238.617 62.6562 241.383 53.2812 246.914 46.2031C252.445 39.0781 259.688 35.5156 268.641 35.5156C277.547 35.5156 284.602 38.5625 289.805 44.6562V5H302.812V113H290.859L290.227 104.844C285.023 111.219 277.781 114.406 268.5 114.406C259.688 114.406 252.492 110.797 246.914 103.578C241.383 96.3594 238.617 86.9375 238.617 75.3125V74.3281ZM251.625 75.8047C251.625 84.4297 253.406 91.1797 256.969 96.0547C260.531 100.93 265.453 103.367 271.734 103.367C279.984 103.367 286.008 99.6641 289.805 92.2578V57.3125C285.914 50.1406 279.938 46.5547 271.875 46.5547C265.5 46.5547 260.531 49.0156 256.969 53.9375C253.406 58.8594 251.625 66.1484 251.625 75.8047Z"
                    stroke="#0C858C" stroke-width="10" mask="url(#path-1-outside-1)" />
                <path
                    d="M337.195 113H324.188V36.9219H337.195V113ZM323.133 16.7422C323.133 14.6328 323.766 12.8516 325.031 11.3984C326.344 9.94531 328.266 9.21875 330.797 9.21875C333.328 9.21875 335.25 9.94531 336.562 11.3984C337.875 12.8516 338.531 14.6328 338.531 16.7422C338.531 18.8516 337.875 20.6094 336.562 22.0156C335.25 23.4219 333.328 24.125 330.797 24.125C328.266 24.125 326.344 23.4219 325.031 22.0156C323.766 20.6094 323.133 18.8516 323.133 16.7422Z"
                    stroke="#0C858C" stroke-width="10" mask="url(#path-1-outside-1)" />
                <path
                    d="M370.383 36.9219L370.805 46.4844C376.617 39.1719 384.211 35.5156 393.586 35.5156C409.664 35.5156 417.773 44.5859 417.914 62.7266V113H404.906V62.6562C404.859 57.1719 403.594 53.1172 401.109 50.4922C398.672 47.8672 394.852 46.5547 389.648 46.5547C385.43 46.5547 381.727 47.6797 378.539 49.9297C375.352 52.1797 372.867 55.1328 371.086 58.7891V113H358.078V36.9219H370.383Z"
                    stroke="#0C858C" stroke-width="10" mask="url(#path-1-outside-1)" />
                <path
                    d="M434.438 74.3281C434.438 62.4688 437.18 53.0469 442.664 46.0625C448.148 39.0312 455.414 35.5156 464.461 35.5156C473.742 35.5156 480.984 38.7969 486.188 45.3594L486.82 36.9219H498.703V111.172C498.703 121.016 495.773 128.773 489.914 134.445C484.102 140.117 476.273 142.953 466.43 142.953C460.945 142.953 455.578 141.781 450.328 139.438C445.078 137.094 441.07 133.883 438.305 129.805L445.055 122C450.633 128.891 457.453 132.336 465.516 132.336C471.844 132.336 476.766 130.555 480.281 126.992C483.844 123.43 485.625 118.414 485.625 111.945V105.406C480.422 111.406 473.32 114.406 464.32 114.406C455.414 114.406 448.195 110.82 442.664 103.648C437.18 96.4766 434.438 86.7031 434.438 74.3281ZM447.516 75.8047C447.516 84.3828 449.273 91.1328 452.789 96.0547C456.305 100.93 461.227 103.367 467.555 103.367C475.758 103.367 481.781 99.6406 485.625 92.1875V57.4531C481.641 50.1875 475.664 46.5547 467.695 46.5547C461.367 46.5547 456.422 49.0156 452.859 53.9375C449.297 58.8594 447.516 66.1484 447.516 75.8047Z"
                    stroke="#0C858C" stroke-width="10" mask="url(#path-1-outside-1)" />
            </svg>

            <img src="/img/start.jpg" alt="" align="left" id="start-img">

            <section id="dynamic-content">
                <div id="header">
                    <span class="header-unit"><span class="data-header">Wind: </span><span
                            id="wind-speed"></span></span>
                    <span class="header-unit"><span class="data-header">Humidity: </span><span
                            id="humidity"></span></span>
                    <span class="header-unit"><span class="data-header">Dew Pt: </span><span id="dew"></span></span>
                    <span class="header-unit"><span class="data-header">UV Index: </span><span
                            id="uv-index"></span></span>
                    <span class="header-unit"><span class="data-header">Visibility: </span><span
                            id="visibility"></span></span>
                    <span class="header-unit"><span class="data-header">Pressure: </span><span
                            id="pressure"></span></span>
                </div>

                <div id="current-forecast-wrap">
                    <div id="current-forecast">
                        <img src="/img/cloudy.png" id="forecast-image" width="64" height="64" align="left">&nbsp
                        <span id="current-summary"></span><br>&nbsp
                        <span class="data-header">Low: </span><span id="low-temp"></span>
                        <span class="data-header">High: </span><span id="high-temp"></span>
                    </div>
                </div>

                <br>

                {{!-- <div id="hourly-forecast">
                    <span id="hourly-header"></span><br>
                </div>
                <div id="stripes">
                        <span class="timeline-stripe-2" style="width: 67.6667px; left: 0px;"><span>Cloudy</span></span>
                        <span class="timeline-stripe-1" style="width: 201px; left: 67.6667px;"><span>Partly
                                Cloudy</span></span>
                        <span class="timeline-stripe-0"
                            style="width: 167.6667px; left: 266.667px;"><span>Clear</span></span>
                        <span class="timeline-stripe-1" style="width: 334.333px; left: 433.333px;"><span>Partly
                                Cloudy</span></span>
                        <span class="timeline-stripe-2"
                            style="width: 32.3333px; left: 766.667px;"><span>Cloudy</span></span>
                    </div>

                    <div id="hour-ticks">
                        <span class="even" style="left: 0px;"></span>
                        <span class="odd" style="left: 33.3333px;"></span>
                        <span class="even" style="left: 66.6667px;"></span>
                        <span class="odd" style="left: 100px;"></span>
                        <span class="even" style="left: 133.333px;"></span>
                        <span class="odd" style="left: 166.667px;"></span>
                        <span class="even" style="left: 200px;"></span>
                        <span class="odd" style="left: 233.333px;"></span>
                        <span class="even" style="left: 266.667px;"></span>
                        <span class="odd" style="left: 300px;"></span>
                        <span class="even" style="left: 333.333px;"></span>
                        <span class="odd" style="left: 366.667px;"></span>
                        <span class="even" style="left: 400px;"></span>
                        <span class="odd" style="left: 433.333px;"></span>
                        <span class="even" style="left: 466.667px;"></span>
                        <span class="odd" style="left: 500px;"></span>
                        <span class="even" style="left: 533.333px;"></span>
                        <span class="odd" style="left: 566.667px;"></span>
                        <span class="even" style="left: 600px;"></span>
                        <span class="odd" style="left: 633.333px;"></span>
                        <span class="even" style="left: 666.667px;"></span>
                        <span class="odd" style="left: 700px;"></span>
                        <span class="even" style="left: 733.333px;"></span>
                        <span class="odd" style="left: 766.667px;"></span>
                    </div>

                    <div id="hours">
                        <span class="hour first" style="left: 1px;"><span class="Now">Now</span></span>
                        <span class="hour" style="left: 33.3333px;"></span>
                        <span class="hour" style="left: 56.6667px;"><span class="8am">8am</span></span>
                        <span class="hour" style="left: 100px;"></span>
                        <span class="hour" style="left: 123.333px;"><span class="10am">10am</span></span>
                        <span class="hour" style="left: 166.667px;"></span>
                        <span class="hour" style="left: 190px;"><span class="12pm">12pm</span></span>
                        <span class="hour" style="left: 233.333px;"></span>
                        <span class="hour" style="left: 256.667px;"><span class="3pm">3pm</span></span>
                        <span class="hour" style="left: 300px;"></span>
                        <span class="hour" style="left: 323.333px;"><span class="5pm">5pm</span></span>
                        <span class="hour" style="left: 366.667px;"></span>
                        <span class="hour" style="left: 390px;"><span class="7pm">7pm</span></span>
                        <span class="hour" style="left: 433.333px;"></span>
                        <span class="hour" style="left: 456.667px;"><span class="9pm">9pm</span></span>
                        <span class="hour" style="left: 500px;"></span>
                        <span class="hour" style="left: 523.333px;"><span class="11pm">11pm</span></span>
                        <span class="hour" style="left: 566.667px;"></span>
                        <span class="hour" style="left: 590px;"><span class="12am">12am</span></span>
                        <span class="hour" style="left: 633.333px;"></span>
                        <span class="hour" style="left: 656.667px;"><span class="2am">2am</span></span>
                        <span class="hour" style="left: 700px;"></span>
                        <span class="hour" style="left: 723.333px;"><span class="4am">4am</span></span>
                        <span class="hour" style="left: 766.667px;"></span>
                    </div>

                    <div id="temps">
                        <span class="first" style="opacity: 0.896232; left: 1px;">
                            <span>32°</span>
                        </span>
                        <span style="opacity: 0.739314; left: 56.6667px;">
                            <span>30°</span>
                        </span>
                        <span style="opacity: 0.529246; left: 123.333px;">
                            <span>27°</span>
                        </span>
                        <span style="opacity: 0.444038; left: 190px;">
                            <span>26°</span>
                        </span>
                        <span style="opacity: 0.384139; left: 256.667px;">
                            <span>26°</span>
                        </span>
                        <span style="opacity: 0.333521; left: 323.333px;">
                            <span>25°</span>
                        </span>
                        <span style="opacity: 0.284589; left: 390px;">
                            <span>24°</span>
                        </span>
                        <span style="opacity: 0.25; left: 456.667px;">
                            <span>24°</span>
                        </span>
                        <span style="opacity: 0.365579; left: 523.333px;">
                            <span>25°</span>
                        </span>
                        <span style="opacity: 0.708099; left: 590px;">
                            <span>29°</span>
                        </span>
                        <span style="opacity: 0.920697; left: 656.667px;">
                            <span>32°</span>
                        </span>
                        <span style="opacity: 1; left: 723.333px;">
                            <span>33°</span>
                        </span>
                    </div>
                </div> --}}
            </section>
        </center>
    </div>

    {{>footer}}

    <script src="/js/result-gen.js"></script>
    <script src="/js/autocomplete.js"></script>
</body>

</html>