<header>
    <img src="/img/logo.png" align="left">
    <h1>{{title}}</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </nav>

</header>