body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 75%;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Header */

header {
    margin-top: 1rem;
}

header h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

header img {
    margin: 0 20px;
}

nav {
    display: flex;
    text-align: center;
    padding: 4px 0;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
}

nav a {
    flex: 1;
}

/* Main Content */

.main-content {
    flex-grow: 1;
}

/* Search Form*/

#search-form {
    background-color: #eeeeee;
    padding: 7.5px 0;
}

#search-form input {
    width: 50%;
    height: 4vh;
    border: none;
    border-radius: 25px;
    outline: none;
    text-align: center;
}

#search-form #submit-location {
    background: #888888;
}

#search-form img {
    position: absolute;
    margin-left: 0.5rem;
    padding: 2px;
}

/* Dynamic content Styling */

.data-header {
    font-weight: bold;
}

#dynamic-content #header {
    display: flex;
    padding: 10px 0;
    background: #f7f5f5;
}

#dynamic-content #header .header-unit {
    flex: 1;
    font-weight: 500;
}

#dynamic-content #current-forecast {
    max-width: 50%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
}

#dynamic-content #current-forecast #current-summary {
    font-size: 36px;
    font-weight: bold;
}

#dynamic-content #hourly-forecast #hourly-header {
    display: block;
    font-size: 32px;
    font-weight: lighter;
    margin: 10px 0;
}

#dynamic-content #hourly-forecast #stripes {
    position: relative;
    left: 10%;
}

#dynamic-content #hourly-forecast #stripes > span {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
}

#dynamic-content #hourly-forecast #stripes > span.timeline-stripe-0 {
    background: #eeeef5;
}

#dynamic-content #hourly-forecast #stripes > span.timeline-stripe-1 {
    background: #d5dae2;
}

#dynamic-content #hourly-forecast #stripes > span.timeline-stripe-2 {
    background: #b6bfcb;
}

#dynamic-content #hourly-forecast {
    height: 100px;
}

#dynamic-content #hourly-forecast #hour-ticks {
    position: relative;
    top: 40%;
    left: 10%;
}

#dynamic-content #hourly-forecast #hour-ticks span {
    position: absolute;
    display: inline-block;
    width: 2px;
    border-left: 1px solid #999999;
}

#dynamic-content #hourly-forecast #hour-ticks span.even {
    height: 5px;
}

#dynamic-content #hourly-forecast #hour-ticks span.odd {
    height: 10px;
}

#dynamic-content #hourly-forecast #hours {
    position: relative;
    left: 10%;
    top: 50%;
}

#dynamic-content #hourly-forecast #hours .hour {
    position: absolute;
    width: 10px;
    height: 5px;
    font-size: 12.5px;
    justify-content: center;
}

#dynamic-content #hourly-forecast #temps {
    position: relative;
    left: 10%;
    top: 65%;
}

#dynamic-content #hourly-forecast #temps span {
    position: absolute;
}

/* Footer */
footer {
    color: #888888;
    border-top: 1px solid #d8d8d8;
    margin-top: 1rem;
    padding: 1rem 0;
}

/* Media Queries */
@media screen and (max-width: 780px) {
    .input-box {
        width: 80%;
    }

    header h1 {
        text-align: center;
    }
}
